body {
	font-family:"Microsoft Yahei", "Hiragino Sans GB", Arial, Lucida, Verdana, SimSun, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:1.5;
	color:#333;
	background-color:#fff;
	-webkit-font-smoothing:antialiased
}
a {
	color:#333;
	text-decoration:none
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight:400;
	margin:0;
	line-height:1.1
}

.textcenter {
	text-align:center
}

#pages {
	width:100%;
	min-width:1200px
}

.fl {
	float:left
}
.fr {
	float:right
}

.btn-area {
	text-align:center
}

.btn-red {
	color:#fff;
	background-color:#f44e51;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
.btn-grey:hover,.btn-red:hover {
	color:#fff;
	background-color:#d00
}

.btn-area-loading {
	text-align:center;
	margin:80px 0
}
.btn-area-loading button {
	border:0;
	padding:10px 50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

#onlineservice {
	position:fixed;
	right:10px;
	top:160px;
	z-index:99
}
#onlineservice>div {
	width:64px;
	height:64px;
	position:relative;
	margin-top:2px
}
#onlineservice>div * {
	cursor:pointer
}

#onlineservice .query {
	padding-top:10px;
	text-align:center;
	background-color: #dd334e;
	border-radius: 20px;
}

#header {
	height:98px;
	border-bottom: 3px solid #dd334e
}
#header .logo {
	width:110px;
	line-height:98px;
	overflow:hidden;
	margin-left: 200px
}
#header .logo img {
	width:100%
}
#header .nav-main {
	text-align:center;
	margin:0;
	padding:0;
	padding-left: 150px;
	
}
#header .nav-main li {
	float:left;
	list-style-type:none;
	
}
#header .nav-main a {
	font-size:16px;
	color:#555;
	line-height:95px;
	display:inline-block;
	border-bottom:3px solid #fff;
	padding:0 10px;
	min-width:60px
}
#header .nav-main a:hover,#header .nav-main .active a {
	color:#f6f6f6;
	background-color:#dd334e;
	text-decoration:none
}

.newpage {
	min-width:1200px;
	overflow-y:auto;
	color:#535558
}
.newpage ul {
	margin:0;
	padding:0;
	list-style:none
}

.newpage .header {
	margin-bottom:15px
}

.carousel-main {
	min-width: 1200px
}

.carousel-main .slick-dots {
	bottom: 25px;
	z-index: 10
}

.carousel-main .slick-prev {
	left: 5%;
	z-index: 10
}

.carousel-main .slick-next {
	right: 5%;
	z-index: 10
}

.container {
	width: 1000px;
	text-align:center
}

.hover-box {
	max-width: 220px;
	/*padding-left: 50px;*/
	position: relative;
	display: inline-block;
	margin:auto
}

.hover-box img {
	width: 100%
}

.image {
	display: block;
	width:100%;
	height: auto
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

.hover-box:hover .overlay {
	opacity: 1
}

.hover-image {
  position: absolute;
  height:100%
}

.hover-image img {
	height:100%
}

.heading {
	width: 200px;
	border-bottom: 1px solid grey;
	text-align: center;
	margin:auto;
	margin-bottom: 20px;
}

.full-width-container {
	width: 100%;
	left: 0;
	margin:auto;
	display:flex;
}

.multiple-containers {
	width: 1200px;
	margin: auto;
	display: flex;
	padding: 30px
}

.right-container {
	width: 550px;
	height: 442px;
	background-color: #dd334e;
}

.right-top-container {
	width: 550px;
	margin-bottom: 50px;
}

.right-top-container-title {
	border-bottom: 1px solid yellow;
	text-align: left;
	width: 300px;
	padding: 10px 0 0 50px;
	color: #f7cf05;
	margin-bottom: 15px
}

.right-top-container-content {
	text-align: left;
	width: 400px;
	margin: auto;
	color: #cdcdcd
}

.right-btm-container-title {
	border-bottom: 1px solid yellow;
	text-align: left;
	width: 300px;
	padding: 10px 0 0 50px;
	color: #f7cf05;
	margin-bottom: 15px;
}

.right-btm-container-content {
	margin:auto;
	width: 480px
}

.left-container {
	width: 550px;
}

.left-top-container {
	width: 550px;
	background-color: white;
	height: 250px
}

.left-top-container-title {
	border-bottom: 1px solid black;
	text-align: left;
	width: 300px;
	padding: 10px 0 0 50px;
}

.left-container-content {
	display: flex;
}

.left-double-container-content {
	width: 550px;
	margin: auto;
	display: flex;
	height:192px;
	
}

.left-mini-container {
	width: 250px;
	margin: auto;
}

.left-mini-container-title {
	width: 225px;
	margin: auto
}

.left-mini-container-content {
	width: 225px;
	margin: auto;
	overflow:hidden
}

sm-left {
	width: 450px
}

.footer {
	width: 1100px;
	display: flex;
	margin:auto;
	padding: 30px;
	background-color: #2c2c2;
}

.footer .company-info {
	width:300px;
	padding-right:10px	
}

.footer .company-info .company-logo {
	display: flex
}

.footer .cooperation {
	width: 150px;	
	text-align:center
}

.footer .recuitment {
	width: 50px;
	padding-right:10px
}

.footer .social-media {
	width: 100px;
	padding-right:10px;
	text-align: center
}

.footer .social-media .social-links {
	display: flex
}

.footer .hotline {
	width: 190px;
	padding-right:10px;
	text-align: center
}

.footer .QRcode {
	width: 225px;
	padding-right:10px
}

.panel-container {
	width: 300px;
	margin: auto;
	display: flex;
	padding: 10px 0 10px
}

.panel-container .panel {
	width: 50px;
	margin: auto
}

.desc-container {
	width: 500px;
	margin:auto;
	text-align: center;
}	

.parts {
	display: flex	
}

.parts .for-the-picture {
	width: 200px;
}

.parts .for-the-picture img {
	width: 100%
}

.parts .for-the-desc {
	width: 300px
}

.article-top {
	margin: auto;
	width: 350px;
	display: flex;
	padding-bottom: 10px;
	padding-top: 10px
}

.article-body {
	width: 700px;
	margin:auto;
	margin-bottom: 30px
}

.center {
	margin: auto	
}

.fade {
  position: relative;
  /*height: 3.6em; exactly three lines */
  opacity: 1
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
/*# sourceMappingURL=main.css.map */
