@font-face {
	font-family:'FontAwesome';
	src:url("../fonts/fontawesome-webfont.eot?v=4.4.0");
	src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"),url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
	font-weight:normal;
	font-style:normal
}
body {
	font-family:"Microsoft Yahei", "Hiragino Sans GB", Arial, Lucida, Verdana, SimSun, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:1.5;
	color:#333;
	background-color:#fff;
	-webkit-font-smoothing:antialiased
}
a {
	color:#333;
	text-decoration:none
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight:400;
	margin:0;
	line-height:1.1
}
a:hover {
	color:#f44e51
}
.textcenter {
	text-align:center
}
label,dt {
	font-weight:400
}
label.required:before {
	content:'*';
	color:#f44e51;
	width:10px;
	margin-right:4px
}
a,input,button,textarea,select {
	outline:0
}
#pages,.wrapper,.register-bar,#footer {
	width:100%;
	min-width:1200px
}
.wrapper-min {
	width:100%;
	min-width:1000px
}
.inner {
	width:1200px;
	min-width:1200px;
	margin:0 auto;
	position:relative
}
.inner-min {
	width:1000px;
	min-width:1000px;
	margin:0 auto;
	position:relative
}
.silverbg {
	background-color:#fafafa
}
.fl {
	float:left
}
.fr {
	float:right
}
.clearfix:before,.clearfix:after {
	content:" ";
	display:table
}
.clearfix:after {
	clear:both
}
.invisible {
	visibility:hidden
}
.overflow {
	overflow:hidden
}
.hidden {
	display:none !important;
	visibility:hidden
}
.red {
	color:#f44e51
}
.nmp,.nmp * {
	margin:0;
	padding:0;
	list-style:none
}
.btn-area {
	text-align:center
}
.btn-grey {
	color:#111;
	background-color:#eee
}
.btn-red {
	color:#fff;
	background-color:#f44e51
}
.btn-grey:hover,.btn-red:hover {
	color:#fff;
	background-color:#d00
}
.btn-apply,.btn-apply-white {
	color:#f44e51;
	font-size:14px;
	border:1px solid #f44e51;
	padding:8px 40px;
	display:inline-block;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
.btn-apply:hover,.btn-apply-white:hover {
	color:#fff;
	background-color:#f44e51
}
.btn-apply-white {
	color:#ddd;
	border-color:#ddd
}
.btn-apply-white:hover {
	border-color:#222;
	background-color:#222
}
.btn-area-loading {
	text-align:center;
	margin:80px 0
}
.btn-area-loading button {
	border:0;
	padding:10px 50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.level {
	height:30px;
	padding:0 15px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	color:#fff;
	position:absolute;
	right:-1px;
	top:-1px
}
.level-1 {
	background-color:rgba(94,175,34,0.9)
}
.level-2 {
	background-color:rgba(255,153,0,0.9)
}
.level-3 {
	background-color:rgba(221,0,0,0.9)
}
.icon,.breadcrumb li:before,.pop-content .star-head .desc:before,.pop-content .star-head .desc:after {
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.more-list {
	padding:20px 0
}
.more-list a {
	display:block;
	text-align:center;
	padding:10px 50px;
	color:#999;
	background-color:#f6f6f6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px
}
.more-list a:hover {
	color:#fff;
	background-color:#ccc
}


#footer-min {
	text-align:center;
	padding:20px 0;
	line-height:30px;
	color:#999
}
#footer-min ul,#footer-min li {
	margin:0;
	padding:0
}
#footer-min li {
	display:inline-block
}
#footer-min li:after {
	content:"";
	padding-right:15px;
	margin-right:15px;
	border-right:1px solid #ddd
}
#footer-min .last:after {
	display:none
}
#footer-min .copyright {
	font-size:12px
}
#footer-min a {
	color:#999
}
#footer-min a:hover {
	color:#333;
	text-decoration:underline
}
.breadcrumb {
	padding:15px 0;
	margin:0;
	list-style:none
}
.breadcrumb>li {
	display:inline-block
}
.breadcrumb>li+li:before {
	padding:0 5px;
	color:#ccc;
	content:"\f105"
}
.breadcrumb>.active {
	color:#777
}
#onlineservice {
	position:fixed;
	right:10px;
	top:160px;
	z-index:99
}
#onlineservice>div {
	width:64px;
	height:64px;
	position:relative;
	margin-top:2px
}
#onlineservice>div * {
	cursor:pointer
}
#onlineservice>div:first-child .icon {
	border-radius:5px 5px 0 0
}
#onlineservice>div:last-child .icon {
	border-radius:0 0 5px 5px
}
#onlineservice .icon {
	font-size:12px;
	text-align:center;
	width:64px;
	height:64px;
	color:#fff;
	font-weight:700;
	overflow:hidden
}
#onlineservice [class*='icon-']:before {
	display:block;
	font-size:24px;
	margin:10px 0 6px
}
#onlineservice .phone,#onlineservice .webchat,#onlineservice .apply,#onlineservice .back-to-top {
	position:relative
}
#onlineservice .icon-chat,#onlineservice .webchat .pop {
	background-color:#f44e51
}
#onlineservice .icon-phone,#onlineservice .phone .pop {
	background-color:#51b7ec
}
#onlineservice .icon-apply,#onlineservice .apply .pop {
	background-color:#44b549
}
#onlineservice .icon-occident,#onlineservice .back-to-top .pop {
	background-color:#c1c1c1
}
#onlineservice .pop {
	display:none;
	position:absolute;
	right:72px;
	top:50%;
	margin-top:-20px;
	white-space:nowrap;
	height:40px;
	line-height:20px;
	padding:10px 20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	color:#fff;
	box-shadow:2px 2px 5px rgba(50,50,50,0.1)
}
#onlineservice .pop:after {
	content:"";
	position:absolute;
	right:-13px;
	top:50%;
	margin-top:-8px;
	border:8px solid transparent
}
#onlineservice .pop strong {
	color:#ff0;
	font-size:16px
}
#onlineservice .webchat .pop:after {
	border-left-color:#f44e51
}
#onlineservice .phone .pop:after {
	border-left-color:#51b7ec
}
#onlineservice .apply .pop:after {
	border-left-color:#44b549
}
#onlineservice .back-to-top .pop:after {
	border-left-color:#c1c1c1
}
#onlineservice .phone:hover .pop,#onlineservice .webchat:hover .pop,#onlineservice .apply:hover .pop,#onlineservice .back-to-top:hover .pop {
	display:block
}
.mod-iphone {
	border:1px solid transparent;
	border-color:rgba(0,0,0,0.2);
	background-color:rgba(255,255,255,0.85);
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	-webkit-box-shadow:2px 2px 2px #eee;
	-moz-box-shadow:2px 2px 2px #eee;
	box-shadow:2px 2px 2px #eee
}
.mod-iphone .top {
	margin:20px auto;
	width:20%;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid transparent;
	border-color:rgba(0,0,0,0.2)
}
.mod-iphone .screen {
	margin:0 10px;
	border:1px solid transparent;
	border-color:rgba(0,0,0,0.1)
}
.mod-iphone .screen img {
	width:100%
}
.mod-iphone .home {
	margin:20px auto;
	width:40px;
	height:40px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	border:1px solid transparent;
	border-color:rgba(0,0,0,0.2)
}
.icon-phone:before {
	content:"\f095"
}
.icon-phone-square:before {
	content:"\f098"
}
.icon-weibo:before {
	content:"\f18a"
}
.icon-weixin:before {
	content:"\f1d7"
}
.icon-chat:before {
	content:"\f0e6"
}
.icon-qq:before {
	content:"\f1d6"
}
.icon-good:before {
	content:"\f164"
}
.icon-book:before {
	content:"\f02d"
}
.icon-onetoone:before {
	content:"\f21d"
}
.icon-rmb:before {
	content:"\f157"
}
.icon-arrow-left:before {
	content:"\f104"
}
.icon-arrow-right:before {
	content:"\f105"
}
.icon-arrow-up:before {
	content:"\f106"
}
.icon-arrow-down:before {
	content:"\f107"
}
.icon-level:before {
	content:"\f080"
}
.icon-interest:before {
	content:"\f1e3"
}
.icon-live:before {
	content:"\f01d"
}
.icon-test:before {
	content:"\f046"
}
.icon-apply:before {
	content:"\f040"
}
.icon-onetomany:before {
	content:"\f0c0"
}
.icon-customization:before {
	content:"\f1de"
}
.icon-play-circle:before {
	content:"\f144"
}
.icon-occident:before {
	content:"\f1d9"
}
.icon-certificate:before {
	content:"\f00c"
}
.icon-oumei:before {
	content:"\f19c"
}
.icon-close:before {
	content:"\f00d"
}
.icon-star:before {
	content:"\f005"
}
.icon-star-2:before {
	content:"\f005\f005"
}
.icon-star-3:before {
	content:"\f005\f005\f005"
}
.icon-star-4:before {
	content:"\f005\f005\f005\f005"
}
.icon-star-5:before {
	content:"\f005\f005\f005\f005\f005"
}
.icon-red i {
	width:145px;
	height:145px;
	border:5px solid #f44e51;
	margin:0 auto;
	text-align:center;
	line-height:140px;
	font-size:64px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	color:#fff;
	background-color:#f44e51
}
.icon-img {
	background:transparent url("../images/icon.png") no-repeat 0 0
}
.icon-img-write {
	background-position:0 0
}
.icon-img-time {
	background-position:0 -147px
}
.icon-img-class {
	background-position:0 -294px
}
.icon-img-onetomany {
	background-position:-5px -448px
}
.icon-img-onetoone {
	background-position:-5px -580px
}
.icon-img-customization {
	background-position:-5px -706px
}
.icon-img-effect {
	background-position:-5px -836px
}
.icon-yellow {
	display:block;
	width:130px;
	margin:0 auto
}
.icon-yellow .icon-img {
	display:block;
	width:130px;
	height:137px;
	overflow:hidden
}
.course-icon {
	display:inline-block;
	background:#f44e51 url("../images/course-icon.png") no-repeat 0 0;
	width:100px;
	height:100px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%
}
.icon-img-phonics {
	background-position:0 0
}
.icon-img-draw {
	background-position:0 -100px
}
.icon-img-song {
	background-position:0 -200px
}
.icon-img-movie {
	background-position:0 -300px
}
.icon-img-usa {
	background-position:0 -400px
}
.icon-img-england {
	background-position:0 -500px
}
.icon-img-canada {
	background-position:0 -600px
}
.icon-img-australia {
	background-position:0 -700px
}
.icon-img-question {
	background-position:0 -800px
}
.icon-img-classroom {
	background-position:0 -900px
}
.icon-img-longman {
	background-position:0 -1000px
}
.icon-img-story {
	background-position:0 -1100px
}
.feature-icon {
	display:inline-block;
	background:#f44e51 url("../images/feature-icon.png") no-repeat 0 0;
	width:140px;
	height:140px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%
}
.icon-feat-home {
	background-position:0 0
}
.icon-feat-class {
	background-position:0 -140px
}
.icon-feat-leave {
	background-position:0 -280px
}
.icon-feat-refund {
	background-position:0 -420px
}
.icon-feat-book {
	background-position:0 -560px
}
.icon-feat-class-pc {
	background-position:0 -700px
}
.icon-feat-onetoone {
	background-position:0 -840px
}
.icon-feat-vip {
	background-position:0 -980px
}
.icon-feat-review {
	background-position:0 -1120px
}
.icon-feat-onetomany {
	background-position:0 -1260px
}
.icon-feat-good {
	background-position:0 -1400px
}
.icon-feat-write {
	background-position:0 -1540px
}
.icon-feat-gdls {
	background-position:0 -1680px
}
.alert-header {
	height:40px;
	line-height:40px;
	font-size:14px;
	background-color:#f44e51;
	color:#fff
}
.alert-header a {
	color:#ff0
}
.alert-header a:hover {
	text-decoration:underline
}
.alert-header button.close {
	line-height:40px;
	margin-right:20px
}
#topbar {
	background-color:#fafafa;
	border-bottom:1px solid #eee;
	height:35px;
	color:#666
}
#topbar ul {
	margin:0;
	padding:0
}
#topbar li {
	float:left;
	margin:0;
	list-style:none
}
#topbar .contactbar {
	line-height:35px
}
#topbar .contactbar i {
	margin-right:5px;
	color:#999
}
#topbar .contactbar a {
	padding:0 10px
}
#topbar .contactbar a:hover {
	display:block;
	color:#111;
	background-color:#eee
}
#topbar .contactbar .tel {
	margin-right:20px
}
#topbar .contactbar .weixin {
	position:relative;
	text-align:center
}
#topbar .contactbar .weixin h3 {
	font-size:14px;
	padding:15px 10px 0 10px;
	margin:0
}
#topbar .contactbar .weixin .weixinpop {
	display:block;
	position:absolute;
	left:-52%;
	top:34px;
	border:1px solid #fff;
	border-top-color:#eee;
	background-color:#fff;
	z-index:999;
	transition:0.5s ease;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	transition-property:height;
	-webkit-transition-property:height;
	-moz-transition-property:height;
	height:0px;
	width:150px;
	overflow:hidden
}
#topbar .contactbar .weixin .weixinpop img {
	padding:10px
}
#topbar .contactbar .weixin:hover .weixinpop {
	display:block;
	height:180px;
	border:1px solid #eee
}
#topbar .loginbar {
	margin-top:4px
}
#topbar .loginbar .btn {
	padding:0 30px;
	line-height:24px;
	overflow:hidden;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	vertical-align:top
}
#topbar .loginbar li {
	margin-left:1px
}
#topbar .logined {
	line-height:35px
}
#topbar .logined li:after {
	content:"";
	display:inline-block;
	height:12px;
	margin:0 10px;
	vertical-align:middle;
	border-right:1px solid #ddd
}
#topbar .logined .last:after {
	display:none
}
#header {
	height:98px
}
#header .logo {
	width:110px;
	line-height:98px;
	overflow:hidden;
	padding: 20px
}
#header .logo img {
	width:100%
}
#header .nav-main {
	text-align:center;
	margin:0;
	padding:0
}
#header .nav-main li {
	float:left;
	margin:0 0 0 20px;
	list-style-type:none
}
#header .nav-main a {
	font-size:16px;
	color:#555;
	line-height:95px;
	display:inline-block;
	border-bottom:3px solid #fff;
	padding:0 10px;
	min-width:60px
}
#header .nav-main a:hover,#header .nav-main .active a {
	color:#f44e51;
	border-bottom-color:#f44e51;
	text-decoration:none
}
.wrapper {
	min-height:1000px
}
.wrapper .notice {
	background-color:#fafafa;
	height:32px;
	line-height:32px;
	border-bottom:1px solid #eee;
	overflow:hidden
}
.wrapper .notice .title {
	color:#f44e51;
	padding-right:10px
}
.wrapper .notice a {
	color:#999
}
.banner {
	color:#333;
	padding-top:100px
}
.banner h3,.banner h4,.banner small {
	font-weight:400;
	margin:0 0 10px 0
}
.banner h3 {
	font-size:60px
}
.banner h4 {
	font-size:16px;
	line-height:30px
}
.banner small {
	display:block;
	font-size:14px;
	line-height:24px
}
.section {
	padding:80px 0
}
.section-title {
	text-align:center
}
.section-title h2 {
	font-size:48px;
	line-height:1.5;
	font-weight:400
}
.section-title h3 {
	font-size:36px;
	line-height:1.5;
	font-weight:400
}
.section-title small {
	display:block;
	font-size:18px;
	color:#999
}
.section-content {
	margin:50px auto
}
.column .items {
	float:left;
	margin:0 30px;
	width:240px;
	text-align:center
}
.column .items .desc {
	margin-top:20px
}
.column .items h5 {
	font-size:18px;
	color:#666;
	margin-bottom:10px
}
.column .items em {
	font-size:14px;
	font-style:normal;
	color:#999;
	text-align:Justify;
	text-justify:distribute
}
.column-img .items {
	float:left;
	margin:0 30px;
	width:270px;
	text-align:center
}
.column-img .items .imgs {
	width:270px;
	height:180px;
	position:relative
}
.column-img .items .imgs img {
	width:100%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.column-img .items .imgs h5 {
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
	background:rgba(0,0,0,0.5);
	font-size:14px;
	color:#fff;
	width:100%;
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin:0;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px
}
.column-img .items .desc {
	margin-top:10px;
	font-size:14px;
	color:#999
}

#footer {
	line-height:24px;
	text-align:center;
	color:#fff
}
#footer ul,#footer dl {
	margin:0;
	padding:0
}
#footer li {
	margin:0;
	list-style:none;
	color:#999
}
#footer .info-foot {
	text-align:left;
	background-color:#444;
	padding:20px 0
}
#footer .info-foot dl {
	height:200px;
	margin:0 50px 0 0;
	border-right:1px solid #555;
	color:#eee
}
#footer .info-foot dt {
	font-size:16px;
	font-weight:400;
	margin-bottom:10px
}
#footer .info-foot dt a {
	color:#eee
}
#footer .info-foot dd {
	line-height:24px
}
#footer .info-foot .phone {
	width:300px
}
#footer .info-foot .phone h3,#footer .info-foot .phone h4,#footer .info-foot .phone p {
	margin:0
}
#footer .info-foot .phone h3 {
	font-size:32px;
	margin-bottom:10px
}
#footer .info-foot .phone p,#footer .info-foot .phone h4 {
	color:#999
}
#footer .info-foot .phone small {
	font-size:80%;
	color:#666 ；
}
#footer .info-foot .phone h4 {
	font-size:24px
}
#footer .info-foot .news {
	width:420px
}
#footer .info-foot .news li {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width:370px
}
#footer .info-foot .subnav {
	width:220px
}
#footer .info-foot .weixin {
	margin-right:0;
	border-right:0
}
#footer .info-foot .weixin dd {
	width:100px;
	padding:8px;
	background-color:#fff
}
#footer .info-foot .weixin img {
	width:100%
}
#footer .info-foot a {
	color:#999
}
#footer .info-foot a:hover {
	color:#eee
}

.da-icon:before {
	width:30px;
	height:30px
}
.da-icon-tel:before {
	background-image:url("../images/newindex/icon/da-icon-tel.png")
}
.da-icon-weixin:before {
	background-image:url("../images/newindex/icon/da-icon-weixin.png")
}
.da-icon-weibo:before {
	background-image:url("../images/newindex/icon/da-icon-weibo.png")
}
.da-icon-chat:before {
	background-image:url("../images/newindex/icon/da-icon-chat.png")
}
.newpage {
	min-width:1200px;
	overflow-y:auto;
	color:#535558
}
.newpage ul {
	margin:0;
	padding:0;
	list-style:none
}
.newpage .items {
	float:left
}
.newpage .items .desc h5 {
	font-size:18px;
	margin-bottom:10px
}
.newpage .items .desc em {
	font-size:14px;
	font-style:normal;
	text-align:Justify;
	text-justify:distribute
}
.newpage .header {
	margin-bottom:15px
}
.newpage .header .topbar {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	min-width:1200px;
	height:60px;
	z-index:9
}
.newpage .header .topbar.fixed {
	filter:alpha(Opacity=90);
	background-color:rgba(255,255,255,0.96);
	box-shadow:0 1px 3px rgba(0,0,0,0.05)
}
.newpage .header .topbar .contactbar {
	padding:15px;
	position:absolute;
	top:0;
	left:50px
}
.newpage .header .topbar .contactbar li {
	float:left;
	margin-left:10px;
	cursor:pointer
}
.newpage .header .topbar .contactbar .weixin {
	position:relative;
	text-align:center
}
.newpage .header .topbar .contactbar .weixin .weixinpop {
	display:block;
	position:absolute;
	left:50%;
	top:45px;
	margin-left:-70px;
	border:1px solid #fff;
	border-top-color:#eee;
	background-color:#fff;
	z-index:999;
	transition:0.5s ease;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	transition-property:height;
	-webkit-transition-property:height;
	-moz-transition-property:height;
	height:0px;
	width:150px;
	overflow:hidden;
	border:none
}
.newpage .header .topbar .contactbar .weixin .weixinpop img {
	padding:10px
}
.newpage .header .topbar .contactbar .weixin h3 {
	font-size:14px;
	padding:15px 10px 0 10px;
	margin:0
}
.newpage .header .topbar .contactbar .weixin:hover .weixinpop {
	display:block;
	height:180px;
	border:1px solid #eee
}
.newpage .header .topbar .contactbar .tel {
	position:relative;
	cursor:pointer
}
.newpage .header .topbar .contactbar .tel .telpop {
	display:block;
	position:absolute;
	left:50%;
	top:45px;
	margin-left:-30px;
	background-color:#fff;
	z-index:999;
	transition:0.5s ease;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	transition-property:height;
	-webkit-transition-property:height;
	-moz-transition-property:height;
	height:0px;
	width:150px;
	overflow:hidden
}
.newpage .header .topbar .contactbar .tel .telpop h3 {
	font-size:14px;
	padding:15px 10px 0 10px;
	margin:0
}
.newpage .header .topbar .contactbar .tel .telpop p {
	margin:0;
	padding:10px
}
.newpage .header .topbar .contactbar .tel:hover .telpop {
	display:block;
	height:80px;
	border:1px solid #eee
}
.newpage .header .topbar .nav {
	width:1000px;
	min-width:1000px;
	margin:0 auto;
	position:relative
}
.newpage .header .topbar .nav .logo {
	padding:10px 0
}
.newpage .header .topbar .nav .logo a {
	display:block;
	width:80px;
	height:40px;
	background:url("../images/logo.png") no-repeat center top;
	background-size:100%
}
.newpage .header .topbar .nav .nav-main li {
	float:left;
	margin-left:15px
}
.newpage .header .topbar .nav .nav-main li a {
	display:inline-block;
	color:#f44e51;
	line-height:60px;
	font-size:16px;
	padding:0 10px
}
.newpage .header .topbar .nav .nav-main li a:hover {
	border-bottom:2px solid #f44e51
}
.newpage .header .topbar .loginbar {
	position:absolute;
	top:0;
	right:50px
}
.newpage .header .topbar .loginbar li {
	float:left
}
.newpage .header .topbar .loginbar li a {
	background-color:transparent;
	line-height:58px;
	padding:0 15px;
	border-radius:0;
	color:#f44e51
}
.newpage .header .topbar .loginbar li a:hover {
	background-color:#f44e51;
	color:#fff
}
.newpage .header .topbar .logined li.login-welcome a {
	padding:0 10px 0 0
}
.newpage .header .topbar .logined li.login-welcome a:hover {
	background-color:transparent;
	color:#f44e51
}
.newpage .header .topbar.topbar-brunetbg {
	background-color:transparent
}
.newpage .header .topbar.topbar-brunetbg .nav .logo a {
	background-image:url("../images/logonew-white.png")
}
.newpage .header .topbar.topbar-brunetbg .nav .nav-main li a {
	color:#fff
}
.newpage .header .topbar.topbar-brunetbg .loginbar li,.newpage .header .topbar.topbar-brunetbg .loginbar li a {
	color:#fff
}
.newpage .header .topbar.topbar-brunetbg.fixed {
	background-color:rgba(255,255,255,0.96)
}
.newpage .header .topbar.topbar-brunetbg.fixed .nav .logo a {
	background-image:url("../images/logo.png")
}
.newpage .header .topbar.topbar-brunetbg.fixed .nav .nav-main li a {
	color:#f44e51
}
.newpage .header .topbar.topbar-brunetbg.fixed .loginbar li a {
	color:#f44e51
}
.newpage .header .topbar.topbar-brunetbg.fixed .loginbar li {
	color:#333
}
.newpage .header .banner {
	background:url("../images/newindex/newbanner.jpg") no-repeat center top;
	height:830px
}
.newpage .header .banner .decorate {
	padding:20px 0 0 0
}
.newpage .header .banner .link-wrapper {
	padding:50px 0 0 180px;
	position:relative
}
.newpage .header .banner .link-wrapper .apply-link {
	display:inline-block;
	text-align:right;
	margin-right:40px;
	font-size:18px;
	vertical-align:middle
}
.newpage .header .banner .link-wrapper .apply-link .btn {
	margin-bottom:10px;
	line-height:24px;
	padding:5px 30px;
	border-radius:18px;
	font-size:16px;
	font-weight:700;
	letter-spacing:2px
}
.newpage .header .banner .link-wrapper .apply-link .btn:hover {
	background-color:#e52c36
}
.newpage .header .banner .link-wrapper .chat-link {
	display:block;
	position:absolute;
	width:120px;
	height:25px;
	top:215px;
	left:480px
}
.newpage .header .banner-02 {
	background-image:url("../images/newindex/newbanner-02.jpg")
}
.newpage .header .nav-arrow .arrow {
	z-index:1;
	top:250px;
	width:220px;
	height:300px
}
.newpage .header .nav-arrow .arrow i {
	margin:100px auto
}
.newpage .header .sales1212 {
	background-image:url("../images/newindex/banner-sales1212.jpg")
}
.newpage .header .sales1212 .decorate {
	display:inline-block;
	position:absolute;
	top:290px;
	left:-10px
}
.newpage .small-banner {
	background:transparent none no-repeat center top;
	position:relative;
	color:#fff
}
.newpage .small-banner.small-banner-01 {
	background-image:url("../images/newindex/small-banner01.jpg");
	height:385px;
	padding-top:80px
}
.newpage .small-banner.small-banner-01 .inner-min {
	padding-left:300px;
	text-align:center
}
.newpage .small-banner.small-banner-01 .inner-min p {
	padding-left:90px;
	margin-top:10px
}
.newpage .small-banner.small-banner-02 {
	background-image:url("../images/newindex/small-banner02.jpg");
	height:550px;
	padding-top:110px
}
.newpage .small-banner.small-banner-02 .inner-min {
	padding-left:420px;
	text-align:right
}
.newpage .small-banner.small-banner-02 .inner-min h4 {
	text-align:center;
	padding-left:90px;
	font-size:40px;
	color:rgba(255,255,255,0.9)
}
.newpage .small-banner.small-banner-02 .inner-min .btn-link {
	color:#fff
}
.newpage .small-banner.small-banner-02 .inner-min .decorate {
	position:absolute;
	background:url("../images/newindex/decorate.png") no-repeat center;
	width:30px;
	height:80px;
	top:-55px;
	right:246px
}
.newpage .small-banner.small-banner-03 {
	background-image:url("../images/newindex/small-banner03.jpg");
	background-size:1920px 250px;
	height:250px
}
.newpage .small-banner.small-banner-03 .inner-min {
	padding:60px 0 0 315px
}
.newpage .small-banner.small-banner-03 .inner-min .textcont {
	display:inline-block;
	margin-right:30px;
	vertical-align:middle
}
.newpage .small-banner.small-banner-03 .inner-min .textcont h4 {
	font-size:48px;
	margin-bottom:15px
}
.newpage .small-banner.small-banner-03 .inner-min .textcont h5 {
	font-size:24px
}
.newpage .small-banner.small-banner-04 {
	background-image:url("../images/newindex/small-banner04.jpg");
	height:550px;
	padding-top:200px
}
.newpage .small-banner.small-banner-04 .inner-min {
	padding-right:300px;
	text-align:center
}
.newpage .small-banner h4 {
	font-size:30px
}
.newpage .small-banner h2 {
	font-size:72px;
	font-weight:600;
	margin:10px 0
}
.newpage .small-banner h3 {
	font-size:60px;
	font-weight:600;
	margin:20px 0
}
.newpage .small-banner .btn-link {
	font-size:18px;
	color:#f44e51
}
.newpage .section-title strong {
	font-size:100px;
	vertical-align:middle;
	font-weight:400;
	padding:0 5px;
	line-height:80px
}
.newpage .section-title small {
	font-size:24px;
	color:#535558
}

.newpage #footer .info-foot {
	background-color:#fff;
	padding:50px 0 20px 0
}
.newpage #footer .info-foot dl {
	border:none
}
.newpage #footer .info-foot .logo {
	width:140px;
	padding:0 15px
}
.newpage #footer .info-foot .logo img {
	width:100%
}
.newpage #footer .info-foot .news {
	width:285px
}
.newpage #footer .info-foot .phone {
	width:165px
}
.newpage #footer .info-foot .phone h3 {
	font-size:22px;
	color:#666
}
.newpage #footer .info-foot .subnav {
	width:105px
}
.newpage #footer .info-foot .weixin dd {
	width:100px;
	padding:6px;
	background-color:#fff;
	border:1px solid #ddd
}
.newpage #footer .info-foot dt {
	color:#333
}
.newpage #footer .info-foot dt a {
	color:#333
}
.newpage #footer .info-foot a:hover {
	color:#333;
	text-decoration:underline
}
@media screen and (max-width: 1520px) {
	.newpage .header .topbar .nav {
		position:absolute;
		left:50px
	}
	.newpage .header .topbar .contactbar {
		display:none
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
	.newpage .small-banner.small-banner-02 {
		background-image:url("../images/newindex/small-banner02_2x.jpg");
		background-size:1920px 550px
	}
	.newpage .small-banner.small-banner-03 {
		background-image:url("../images/newindex/small-banner03_2x.jpg");
		background-size:1920px 250px
	}
	.newpage .header .sales1212 {
		background-image:url("../images/newindex/banner-sales1212_2x.jpg");
		background-size:1920px 830px
	}
	.newpage .header .banner-02 {
		background-image:url("../images/newindex/newbanner-02_2x.jpg");
		background-size:1920px 830px
	}
}
@media screen and (max-width: 1240px) {
	.newpage .header .topbar {
		position:absolute
	}
	.newpage .header .topbar .nav .nav-main li a {
		padding:0 8px
	}
	.newpage .header .topbar .loginbar {
		right:20px
	}
	.newpage .goodness .nav-arrow .next {
		right:-50px
	}
	.newpage .goodness .nav-arrow .prev {
		left:-50px
	}
}

.course-feature .column {
	width:1005px;
	margin:0 auto
}
.course-feature .column .items {
	width:275px
}

.carousel-main {
	min-width: 1200px
}

.carousel-main .slick-dots {
	bottom: 25px;
	z-index: 10
}

.carousel-main .slick-prev {
	left: 5%;
	z-index: 10
}

.carousel-main .slick-next {
	right: 5%;
	z-index: 10
}

.container {
	width: 1000px
}

.hover-box {
	max-width: 250px;
	/*padding-left: 50px;*/
	position: relative;
}

.image {
	display: block;
	width:100%;
	height: auto
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 0;
  height: 80%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
  /*padding-right: 77px*/
}

.hover-box:hover .overlay {
	opacity: 1
}

.hover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.heading {
	width: 1200px;
	border-bottom: 1px solid grey;
	text-align: center
}
.full-width-container {
	width: 100%;
	left: 0;
	margin:auto;
	display:flex;
}

.multiple-containers {
	width: 1200px;
	margin: auto;
	display: flex;
	padding: 30px
}

.right-container {
	width: 550px;
	height: 442px;
	background-color: #dd334e;
}

.right-top-container {
	width: 550px;
	margin-bottom: 50px;
}

.right-top-container-title {
	border-bottom: 1px solid yellow;
	text-align: left;
	width: 300px;
	padding: 10px 0 0 50px;
	color: #f7cf05
}

.right-top-container-content {
	text-align: center;
	width: 400px;
	margin: auto;
	color: #cdcdcd
}

.right-btm-container-title {
	border-bottom: 1px solid yellow;
	text-align: left;
	width: 300px;
	padding: 10px 0 0 50px;
	color: #f7cf05;
	margin-bottom: 10px;
}

.left-container {
	width: 550px;
	height: 500px;
}

.left-top-container {
	width: 550px;
	background-color: white;
	height: 250px
}

.left-top-container-title {
	border-bottom: 1px solid black;
	text-align: left;
	width: 300px;
	padding: 10px 0 0 50px;
}

.left-container-content {
	display: flex;
}

.left-double-container-content {
	width: 550px;
	margin: auto;
	display: flex;
}

.left-mini-container {
	width: 200px;
	margin: auto
}

.footer {
	width: 1100px;
	display: flex;
	margin:auto;
	padding: 30px;
	background-color: #2c2c2
}
.footer .company-info {
	width:300px;
	padding-right:10px	
}

.footer .company-info .company-logo {
	display: flex
}

.footer .cooperation {
	width: 150px;	
}

.footer .recuitment {
	width: 50px;
	padding-right:10px
}

.footer .social-media {
	width: 100px;
	padding-right:10px
}

.footer .social-media .social-links {
	display: flex
}

.footer .hotline {
	width: 190px;
	padding-right:10px
}

.footer .QRcode {
	width: 225px;
	padding-right:10px
}

.center {
	margin: auto	
}
/*# sourceMappingURL=main.css.map */
